Coteaching- Nivells anglès se separa sa classe algunes de les hores
Subclasses- Lab totes les hores els 2 profes

En la figura 1 se muestran los slots horarios disponibles para una clase.
Hay más de una clase y por tanto, el formato gráfico de las soluciones es la asignación de profesor y asignatura en los slots horarios de varias copias de la figura 1 (una por cada clase). Pueden quedar slots horarios vacíos ya que es posible que no haya necesidad de cubrir todos los slots horarios.
No hay ningún alumno que esté en dos clases distintas. Pensad en los horarios de una escuela/instituto. Una clase es 1º ESO, una segunda clase es 2º ESO, etc.
Cada profesor tiene asignadas como entrada una o varias asignaturas en una o varias clases. Por ejemplo, el profesor X debe dar las matemáticas de la clase 1 y la clase 3 y el profesor Y debe dar el catalán de la clase 1 y el castellano de la clase 2. Podéis considerar que salvo los casos especiales de subclases, cada asignatura sólo la da un único profesor.
Cada asignatura tiene un determinado número de horas fijado en cada clase. Por ejemplo, las matemáticas de la clase 1 deben ocupar 3 slots horarios semanales.
Cada profesor de entrada sólo puede dar clase unos días determinados de la semana (los días que se encuentra en el centro).
Subclases: Determinadas asignaturas en determinadas clases las darán al mismo tiempo dos profesores, que se distribuirán la mitad de la clase cada uno. Si una asignatura se imparte con este método, será así durante todas las horas semanales asignadas a esta asignatura. Esta información viene dada en la entrada.
Coteaching: Determinadas parejas de asignaturas en determinadas clases se darán con el formato de coteaching y por tanto, siempre las dos asignaturas de la pareja tendrán asignados los mismos slots horarios semanales. Esta información también viene dada en la entrada.
En este artículo, suponemos que no hay problemas de aulas y de hecho no se asignan aulas en ningún momento.
El formato de entrada de los datos es cuestión de cada grupo pero debe contener la información anterior. A modo de ejemplo:

Clase 1: Asignatura 1 (3 slots, profesor 1); Asignatura 2 (2 slots, profesor 2); Asignatura 3 (4 slots, profesor 3); Asignatura 4 (3 slots, profesor 1); Asignatura 5 (3 slots, profesores 4 y 5, subclases); Asignatura 6 (3 slots, profesor 4, coteaching con asignatura 7); Asignatura 7 (3 slots, profesor 6, coteaching con asignatura 6).
Clase 2: [...]
[...]
Clase n: [...]

Profesor 1: No puede impartir clase los lunes.
Profesor 2: No puede impartir clase martes y viernes.
[...]
Profesor m: No tiene ninguna restricción.

Obviamente hay una serie de restricciones que se deben imponer:

El número de slots horarios de una clase no puede ser mayor a 35. Tened cuidado con los co-teaching. La clase 1 del ejemplo anterior, tiene 18 slots horarios ocupados.
Un profesor el número máximo de horas que puede impartir es 7 por el número de días de disponibilidad personal.
Si tenéis más dudas, comentadlas por aquí y las iremos respondiendo.

In [5]:
import pandas as pd
import numpy as np
from random import randrange
#Si una classe no fa una assignatura posarem zeros
ClasseAssignatura=pd.DataFrame(columns=['Assignatura1','Assignatura2','Assignatura3','Assignatura4','Assignatura5','Assignatura6','Assignatura7'],
                              index=['Classe1','Classe2'])

#[slots,professor1,professorSC,AssignaturaCT]
ClasseAssignatura.head()
ClasseAssignatura.Assignatura1=[[3,1,0,0],[3,1,0,0]]
ClasseAssignatura.Assignatura2=[[2,2,0,0],[4,2,0,4]]
ClasseAssignatura.Assignatura3=[[4,3,0,0],[3,3,0,0]]
ClasseAssignatura.Assignatura4=[[3,1,0,0],[4,4,0,2]]
ClasseAssignatura.Assignatura5=[[3,4,5,0],[6,5,0,0]]
ClasseAssignatura.Assignatura6=[[3,4,0,7],[2,6,0,0]]
ClasseAssignatura.Assignatura7=[[3,6,0,6],[2,1,0,0]]

numTeahers=6

print(ClasseAssignatura.head())
TeacherNoDays=[np.arange(1,8),np.concatenate((np.arange(8,15),np.arange(29,36))),0,0,0,0]
print(TeacherNoDays)

ClasseAssignatura.head()

         Assignatura1  Assignatura2  Assignatura3  Assignatura4  Assignatura5  \
Classe1  [3, 1, 0, 0]  [2, 2, 0, 0]  [4, 3, 0, 0]  [3, 1, 0, 0]  [3, 4, 5, 0]
Classe2  [3, 1, 0, 0]  [4, 2, 0, 4]  [3, 3, 0, 0]  [4, 4, 0, 2]  [6, 5, 0, 0]

         Assignatura6  Assignatura7
Classe1  [3, 4, 0, 7]  [3, 6, 0, 6]
Classe2  [2, 6, 0, 0]  [2, 1, 0, 0]
[array([1, 2, 3, 4, 5, 6, 7]), array([ 8,  9, 10, 11, 12, 13, 14, 29, 30, 31, 32, 33, 34, 35]), 0, 0, 0, 0]

,Assignatura1,Assignatura2,Assignatura3,Assignatura4,Assignatura5,Assignatura6,Assignatura7
Classe1,"[3, 1, 0, 0]","[2, 2, 0, 0]","[4, 3, 0, 0]","[3, 1, 0, 0]","[3, 4, 5, 0]","[3, 4, 0, 7]","[3, 6, 0, 6]"
Classe2,"[3, 1, 0, 0]","[4, 2, 0, 4]","[3, 3, 0, 0]","[4, 4, 0, 2]","[6, 5, 0, 0]","[2, 6, 0, 0]","[2, 1, 0, 0]"

In [6]:
ClasseAssignatura2=[[[3,1,0,0],[2,2,0,0],[4,3,0,0],[3,1,0,0],[3,4,5,0],[3,4,0,7],[3,6,0,6]],
                    [[3,1,0,0],[4,2,0,4],[3,3,0,0],[4,4,0,2],[6,5,0,0],[2,6,0,0],[2,1,0,0]]]
print(ClasseAssignatura2)
ClasseAssignatura3=ClasseAssignatura2[:]
ClasseAssignatura3

[[[3, 1, 0, 0], [2, 2, 0, 0], [4, 3, 0, 0], [3, 1, 0, 0], [3, 4, 5, 0], [3, 4, 0, 7], [3, 6, 0, 6]], [[3, 1, 0, 0], [4, 2, 0, 4], [3, 3, 0, 0], [4, 4, 0, 2], [6, 5, 0, 0], [2, 6, 0, 0], [2, 1, 0, 0]]]

[[[3, 1, 0, 0],
  [2, 2, 0, 0],
  [4, 3, 0, 0],
  [3, 1, 0, 0],
  [3, 4, 5, 0],
  [3, 4, 0, 7],
  [3, 6, 0, 6]],
 [[3, 1, 0, 0],
  [4, 2, 0, 4],
  [3, 3, 0, 0],
  [4, 4, 0, 2],
  [6, 5, 0, 0],
  [2, 6, 0, 0],
  [2, 1, 0, 0]]]

In [28]:
#Recorrem les assignatures d'una classe
#[slots,professor1,professorSC,AssignaturaCT]

def decrementarHores(c,teacher,classe,TeachingHours):
    #Recorrem les assignatures de la classe buscant les que fa el profe teacher
    #c= assignatures de la classe 1
    idxAssigntr=0
    for assignatura in c:
        if assignatura[1]==teacher and assignatura[0]>0:
            #Decrementam 
            ClasseAssignatura3[classe][idxAssigntr][0]=ClasseAssignatura3[classe][idxAssigntr][0]-1
            TeachingHours[teacher-1]=TeachingHours[teacher-1]-1
            #si hi ha SC
            if ClasseAssignatura3[classe][idxAssigntr][3]!=0:
                teacher2=ClasseAssignatura3[classe][idxAssigntr][3]
                TeachingHours[teacher2-1]=TeachingHours[teacher2-1]-1
            #Si hi ha coteaching:
            if ClasseAssignatura3[classe][idxAssigntr][3]!=0:
                #Seleccionam el valor de l'index de l'assignatura amb la que hi ha coteaching
                AssigCT=ClasseAssignatura3[classe][idxAssigntr][3]
                #Decrementam en 1h les hores pendents d'assignar de l'assignatura de CT
                ClasseAssignatura3[classe][AssigCT][0]=ClasseAssignatura3[classe][AssigCT][0]-1
                TeacherSC=ClasseAssignatura3[classe][AssigCT][1]
                TeachingHours[teacherSC-1]=TeachingHours[teacherSC-1]-1 
            break
                
        idxAssigntr=idxAssigntr+1
    return TeachingHours

In [34]:
classes=2
TimeP=35
Chromo=np.zeros((classes, TimeP))
population=1
TeachingHours=np.array([11,6,7,10,9,5])
ZerosT=np.zeros((len(TeachingHours),),dtype=int)
ZerosT=TeachingHours*0
ClassesProfe=[]
numTeachers=6
for i in range(population):
    for classe in range(classes):
        for hour in range(TimeP):
           
            c=ClasseAssignatura2[classe]
            ok=False
            #Chose a teacher at random           
            
            if np.array_equal(ZerosT,TeachingHours)==False:
                while ok==False:#mirar que no sigui que no et quedin profes i se quedi aqui infinitament
                    teacher=randrange(1, numTeachers)
                    for i in c:
                        if(i[1]==teacher) and TeachingHours[teacher]!=0:
                            ok=True
                        
                #Now we have a teacher!!!
                #print(teacher)

                #Decrementam les hores agafant una hora en concret d'una assignatura
                decrementarHores(c,teacher,classe,TeachingHours)
                #TeachingHours[teacher-1]=TeachingHours[teacher-1]-1
                print(TeachingHours)
                Chromo[classe,hour]=teacher

[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]
[11  6  7 10  9  5]

In [22]:
TeachingHours=np.array([0,0,0,0,0,0])
print(TeachingHours)
ZerosT=np.zeros((len(TeachingHours),),dtype=int)
np.array_equal(ZerosT,TeachingHours)

[0 0 0 0 0 0]

True

In [2]:
ClasseAssignatura2[0]

NameError: name 'ClasseAssignatura2' is not defined

In [ ]:
np.concatenate((np.arange(1,7),np.arange(1,7)))